.tabbox {
    position: fixed;
    z-index: 998;
    height: auto;
    top: 0
}

.tabbox .at-tabs__header {
    background-color: #e92124;
}

.tabbox .at-tabs__item {
    color: #fff;
    font-size: 24px;
    min-width: 100px;
    text-align: center;
}

.tabbox .at-tabs__item-underline {
    background-color: #fff;
    height: 4px;
}

page.data-v-250bbf44 {
    background: #f6f6f6;
}

.spaceCustomization.data-v-250bbf44,
page.data-v-250bbf44 {
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: #f6f6f6;
}

.spaceCustomization .condition.data-v-250bbf44,
page .condition.data-v-250bbf44 {
    position: fixed;
    top: 80px;
    left: 0;
    display: flex;
    width: 100%;
    height: 80px;
    background: #fff;
    z-index: 999;
    border-bottom: 1px solid #f6f6f6;
}

.spaceCustomization .condition .flex1.data-v-250bbf44,
page .condition .flex1.data-v-250bbf44 {
    flex: 1;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 24px;
    color: #9a9a9a;
}

.spaceCustomization .condition .flex1 .arrow.data-v-250bbf44,
page .condition .flex1 .arrow.data-v-250bbf44 {
    margin-left: 10px;
    display: inline-block;
    width: 0;
    height: 0;
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 12px 12px 0;
}

.spaceCustomization .condition .flex1 image.data-v-250bbf44,
page .condition .flex1 image.data-v-250bbf44 {
    width: 24px;
    height: 26px;
    vertical-align: -6px;
    margin-left: 10px;
}

.spaceCustomization .condition .flex1 .noSelectImg.data-v-250bbf44,
page .condition .flex1 .noSelectImg.data-v-250bbf44 {
    display: inline-block;
}

.spaceCustomization .condition .flex1 .SelectImg.data-v-250bbf44,
page .condition .flex1 .SelectImg.data-v-250bbf44 {
    display: none;
}

.spaceCustomization .condition .select.data-v-250bbf44,
page .condition .select.data-v-250bbf44 {
    color: #e92124 !important;
}

.spaceCustomization .condition .select .arrow.data-v-250bbf44,
page .condition .select .arrow.data-v-250bbf44 {
    border-color: #e92124 transparent transparent !important;
}

.spaceCustomization .condition .select .noSelectImg.data-v-250bbf44,
page .condition .select .noSelectImg.data-v-250bbf44 {
    display: none !important;
}

.spaceCustomization .condition .select .SelectImg.data-v-250bbf44,
page .condition .select .SelectImg.data-v-250bbf44 {
    display: inline-block !important;
}

.spaceCustomization .visibility.data-v-250bbf44,
page .visibility.data-v-250bbf44 {
    visibility: hidden;
}

.spaceCustomization .allTips.data-v-250bbf44,
page .allTips.data-v-250bbf44 {
    width: 100%;
    border-top: 1px solid #eee;
    box-sizing: border-box;
    background: #fff;
    z-index: 9;
    position: fixed;
    top: -320px;
    left: 0;
    padding: 0 30px;
    transition: top .5s ease-out;
}

.spaceCustomization .allTips .tips.data-v-250bbf44,
page .allTips .tips.data-v-250bbf44 {
    width: 100%;
    height: 90px;
    line-height: 90px;
    font-size: 24px;
    color: #999;
    border-bottom: 1px solid #eee;
}

.spaceCustomization .allTips .tips.data-v-250bbf44:last-child,
page .allTips .tips.data-v-250bbf44:last-child {
    border-bottom: none;
}

.spaceCustomization .allTips .selectTips.data-v-250bbf44,
page .allTips .selectTips.data-v-250bbf44 {
    color: #e92124;
}

.spaceCustomization .fadeDownTips.data-v-250bbf44,
page .fadeDownTips.data-v-250bbf44 {
    top: 160px;
}

.spaceCustomization .rightBox.data-v-250bbf44,
page .rightBox.data-v-250bbf44 {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 160px;
    background: #f6f6f6;
    transform: translatex(100%);
    overflow: hidden;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

.spaceCustomization .rightBox .scroll-y.data-v-250bbf44,
page .rightBox .scroll-y.data-v-250bbf44 {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.spaceCustomization .rightBox .scroll-y .classify.data-v-250bbf44,
page .rightBox .scroll-y .classify.data-v-250bbf44 {
    padding: 30px 20px;
}

.spaceCustomization .rightBox .scroll-y .classify .classList .title.data-v-250bbf44,
page .rightBox .scroll-y .classify .classList .title.data-v-250bbf44 {
    color: #000;
    font-size: 24px;
    line-height: 60px;
}

.spaceCustomization .rightBox .scroll-y .classify .classList .item.data-v-250bbf44,
page .rightBox .scroll-y .classify .classList .item.data-v-250bbf44 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 35px;
}

.spaceCustomization .rightBox .scroll-y .classify .classList .item .list.data-v-250bbf44,
page .rightBox .scroll-y .classify .classList .item .list.data-v-250bbf44 {
    width: 23%;
    text-align: center;
    height: 60px;
    line-height: 56px;
    font-size: 22px;
    color: #666;
    background: #fff;
    border-radius: 4px;
    margin-right: 2%;
    margin-bottom: 10px;
    box-sizing: border-box;
    overflow: hidden;
    border: 1PX solid transparent;
}

.spaceCustomization .rightBox .scroll-y .classify .classList .item .list.data-v-250bbf44:nth-child(4n+0),
page .rightBox .scroll-y .classify .classList .item .list.data-v-250bbf44:nth-child(4n+0) {
    margin-right: 0px;
}

.spaceCustomization .rightBox .scroll-y .classify .classList .item .active.data-v-250bbf44,
page .rightBox .scroll-y .classify .classList .item .active.data-v-250bbf44 {
    color: #e92124 !important;
    border: 1PX solid #e92124;
    border-radius: 8px;
    line-height: 56px;
}

.spaceCustomization .rightBox .scroll-y .classify .classList .item .noRightMargin.data-v-250bbf44,
page .rightBox .scroll-y .classify .classList .item .noRightMargin.data-v-250bbf44 {
    margin-right: 0px !important;
}

.spaceCustomization .rightBox .scroll-y .priceSelect.data-v-250bbf44,
page .rightBox .scroll-y .priceSelect.data-v-250bbf44 {
    background: #fff;
    display: flex;
    height: 100px;
    line-height: 100px;
    border-bottom: 1px solid #f5f5f5;
}

.spaceCustomization .rightBox .scroll-y .priceSelect .name.data-v-250bbf44,
page .rightBox .scroll-y .priceSelect .name.data-v-250bbf44 {
    width: 250px;
    box-sizing: border-box;
    padding-left: 20px;
    color: #333;
    font-size: 24px;
}

.spaceCustomization .rightBox .scroll-y .priceSelect .moneyCount.data-v-250bbf44,
page .rightBox .scroll-y .priceSelect .moneyCount.data-v-250bbf44 {
    flex: 1;
}

.spaceCustomization .rightBox .scroll-y .priceSelect .moneyCount .uni-input.data-v-250bbf44,
page .rightBox .scroll-y .priceSelect .moneyCount .uni-input.data-v-250bbf44 {
    float: left;
    width: 200px;
    height: 60px;
    text-align: center;
    background: #f6f6f6;
    border-radius: 30px;
    margin-top: 20px;
    font-size: 22px;
}

.spaceCustomization .rightBox .scroll-y .priceSelect .moneyCount .line.data-v-250bbf44,
page .rightBox .scroll-y .priceSelect .moneyCount .line.data-v-250bbf44 {
    float: left;
    color: #b8b8b8;
    margin: 0 20px;
}

.spaceCustomization .rightBox .scroll-y .isNew.data-v-250bbf44,
page .rightBox .scroll-y .isNew.data-v-250bbf44 {
    background: #fff;
    display: flex;
    height: 100px;
    line-height: 100px;
}

.spaceCustomization .rightBox .scroll-y .isNew .name.data-v-250bbf44,
page .rightBox .scroll-y .isNew .name.data-v-250bbf44 {
    width: 250px;
    box-sizing: border-box;
    padding-left: 20px;
    color: #333;
    font-size: 24px;
}

.spaceCustomization .rightBox .scroll-y .isNew .toToggle.data-v-250bbf44,
page .rightBox .scroll-y .isNew .toToggle.data-v-250bbf44 {
    flex: 1;
    text-align: right;
}

.spaceCustomization .rightBox .scroll-y .isNew .toToggle switch.data-v-250bbf44,
page .rightBox .scroll-y .isNew .toToggle switch.data-v-250bbf44 {
    margin-right: 20px;
}

.spaceCustomization .rightBox .scroll-y .submit.data-v-250bbf44,
page .rightBox .scroll-y .submit.data-v-250bbf44 {
    text-align: center;
    padding-top: 30px;
    width: 100%;
    height: 120px;
    box-sizing: border-box;
    border-top: 1PX solid #ddd;
}

.spaceCustomization .rightBox .scroll-y .submit .btn.data-v-250bbf44,
page .rightBox .scroll-y .submit .btn.data-v-250bbf44 {
    width: 300px;
    margin: 0 auto;
    height: 60px;
    background: #e92124;
    color: #fff;
    font-size: 24px;
    border-radius: 30px;
    line-height: 60px;
}

.spaceCustomization .rightBox .scroll-y .submit .btn view.data-v-250bbf44,
page .rightBox .scroll-y .submit .btn view.data-v-250bbf44 {
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.spaceCustomization .rightBox .scroll-y .submit .btn view.data-v-250bbf44:first-child,
page .rightBox .scroll-y .submit .btn view.data-v-250bbf44:first-child {
    border-right: 1px solid #f2baba;
}

.spaceCustomization .itemList.data-v-250bbf44,
page .itemList.data-v-250bbf44 {
    width: 100%;
    box-sizing: border-box;
    padding: 180px 20px 0;
    background: #f6f6f6;
    display: flex;
    flex-wrap: wrap;
}

.spaceCustomization .itemList .item.data-v-250bbf44,
page .itemList .item.data-v-250bbf44 {
    width: 345px;
    height: 480px;
    display: flex;
    background: #fff;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
}

.spaceCustomization .itemList .item .itemContent.data-v-250bbf44,
page .itemList .item .itemContent.data-v-250bbf44 {
    width: 100%;
}

.spaceCustomization .itemList .item.data-v-250bbf44:nth-child(2n),
page .itemList .item.data-v-250bbf44:nth-child(2n) {
    margin-right: 0px;
}

.spaceCustomization .itemList .item .itemImg.data-v-250bbf44,
page .itemList .item .itemImg.data-v-250bbf44 {
    width: 100%;
    height: 325px;
    display: block;
}

.spaceCustomization .itemList .item .titles.data-v-250bbf44,
page .itemList .item .titles.data-v-250bbf44 {
    width: 100%;
    line-height: 42px;
    height: 42px;
    box-sizing: border-box;
    color: #333;
    font-size: 26px;
    padding: 0 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.spaceCustomization .itemList .item .tip.data-v-250bbf44,
page .itemList .item .tip.data-v-250bbf44 {
    width: 100%;
    line-height: 26px;
    height: 26px;
    box-sizing: border-box;
    color: #999;
    font-size: 26px;
    padding: 0 20px;
    margin-top: 10px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.spaceCustomization .itemList .item .price.data-v-250bbf44,
page .itemList .item .price.data-v-250bbf44 {
    width: 100%;
    line-height: 26px;
    height: 26px;
    box-sizing: border-box;
    color: #e92124;
    font-size: 26px;
    padding: 0 20px;
    margin-top: 24px;
    display: block;
}

.spaceCustomization .loadMore.data-v-250bbf44,
page .loadMore.data-v-250bbf44 {
    width: 100%;
}

.spaceCustomization .noData,
page .noData {
    width: 100%;
    padding-top: 300px;
    text-align: center;
    font-size: 24px;
    color: #929292;
}

.spaceCustomization .noData .noDataImg image.data-v-250bbf44,
page .noData .noDataImg image.data-v-250bbf44 {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.spaceCustomization .showrightBox.data-v-250bbf44,
page .showrightBox.data-v-250bbf44 {
    transform: translateX(0);
}

.spaceCustomization .fadeInDown.data-v-250bbf44,
page .fadeInDown.data-v-250bbf44 {
    animation-name: fadeInDown-data-v-250bbf44;
}

.spaceCustomization .fadeOutUp.data-v-250bbf44,
page .fadeOutUp.data-v-250bbf44 {
    animation-name: fadeOutUp-data-v-250bbf44;
}

@-webkit-keyframes fadeInDown-data-v-250bbf44 {
    0% {
        opacity: 0;
        top: -320px;
    }
    to {
        opacity: 1;
        top: 160px;
    }
}

@keyframes fadeInDown-data-v-250bbf44 {
    0% {
        opacity: 0;
        top: -320px;
    }
    to {
        opacity: 1;
        top: 160px;
    }
}

@-webkit-keyframes fadeOutUp-data-v-250bbf44 {
    0% {
        opacity: 1;
        top: 160px;
    }
    to {
        opacity: 0;
        top: -320px;
    }
}

@keyframes fadeOutUp-data-v-250bbf44 {
    0% {
        opacity: 1;
        top: 160px;
    }
    to {
        opacity: 0;
        top: -320px;
    }
}