.topBar.data-v-7cec76db {
    width: 100%;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: all .2s linear;
    text-align: center;
    color: #000;
    font-weight: 700;
    padding-bottom: 6PX;
}

.topBar .con.data-v-7cec76db {
    width: 100%;
    height: 100%;
    position: relative;
}

.topBar .con .title.data-v-7cec76db {
    color: transparent;
    transition: all .2s linear;
    position: absolute;
    display: block;
    width: 160PX;
    height: 32PX;
    line-height: 32PX;
    left: 50%;
    margin: 0 0 0 -80PX;
    font-size: 30px;
}

.topBar .con .arrow.data-v-7cec76db {
    position: absolute;
    width: 32PX;
    height: 32PX;
    background: #333;
    left: 15PX;
    border-radius: 50%;
    transition: all .2s linear;
}

.topBar .con .arrow .back.data-v-7cec76db {
    transition: all .2s linear;
    display: inline-block;
    height: 10PX;
    width: 10PX;
    border-color: #fff;
    border-style: solid;
    border-width: 0 0 2PX 2PX;
    transform: matrix(.71, .71, -.71, .71, 0, 0);
    position: absolute;
    top: 50%;
    margin-top: -6PX;
    right: 8PX;
    border-radius: 2PX;
}

.topBar .con .home_box.data-v-7cec76db {
    position: absolute;
    width: 32PX;
    height: 32PX;
    background: #333;
    left: 15PX;
    border-radius: 50%;
    transition: all .2s linear;
}

.topBar .con .home_box .home.data-v-7cec76db {
    transition: all .2s linear;
    display: inline-block;
    height: 10PX;
    width: 10PX;
    border-color: #fff;
    border-style: solid;
    border-width: 0 0 2PX 2PX;
    transform: matrix(.71, .71, -.71, .71, 0, 0);
    position: absolute;
    top: 50%;
    margin-top: -6PX;
    right: 8PX;
    border-radius: 2PX;
}

.showTopBar.data-v-7cec76db {
    background: #fff !important;
    height: 32PX;
}

.showTopBar .title.data-v-7cec76db {
    color: #000 !important;
}

.showTopBar .arrow.data-v-7cec76db {
    background: transparent !important;
}

.showTopBar .arrow .back.data-v-7cec76db {
    border-color: #000 !important;
}

.showTopBar .home_box.data-v-7cec76db {
    background: transparent !important;
}

.showTopBar .home_box .home.data-v-7cec76db {
    border-color: #000 !important;
}