page {
    background: #f6f6f6;
}

.questionDetail-content {
    padding: 40rpx 36rpx 0 20rpx;
    background: #f6f6f6;
}

.questionDetail-content .title {
    color: #333;
    font-size: 26rpx;
    margin-bottom: 56rpx;
}

.questionDetail-content .content {
    color: #999;
    font-size: 24rpx;
    line-height: 40rpx;
}