.noData {
    width: 100%;
    padding-top: 300px;
    text-align: center;
    font-size: 24px;
    color: #929292;
}

.noData .noDataImg .noImg,
.noData .noDataImg .noImg img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}