.investment .bannerBox .bannerImg.data-v-0e1caa22 {
    width: 750rpx;
    height: 468rpx;
}

.investment .serviceBtnBox.data-v-0e1caa22 {
    display: flex;
    justify-content: space-around;
    padding-top: 32rpx;
}

.investment .serviceBtnBox .serviceBtn.data-v-0e1caa22 {
    padding: 10rpx;
    text-align: center;
    width: 192rpx;
    height: 40rpx;
    background-color: #999;
    font-family: SourceHanSansCN-Normal;
    font-size: 24rpx;
    font-weight: 400;
    font-stretch: normal;
    line-height: 40rpx;
    letter-spacing: 0rpx;
    color: #fff;
    border: 2px solid #999;
}

.investment .title.data-v-0e1caa22 {
    padding: 45rpx 0;
    text-align: center;
}

.investment .title .title_zh_CN.data-v-0e1caa22 {
    font-family: SourceHanSansCN-Bold;
    font-size: 36rpx;
    font-weight: 700;
    font-stretch: normal;
    line-height: 60rpx;
    letter-spacing: 3rpx;
    color: #767676;
    padding-bottom: 8rpx;
}

.investment .title .littleIcon.data-v-0e1caa22 {
    margin: 0 auto;
    display: block;
    width: 17rpx;
    height: 2rpx;
    background-color: #bc9350;
}

.investment .title .title_nl.data-v-0e1caa22 {
    padding-top: 8rpx;
    font-family: SourceHanSansCN-Light;
    font-size: 18rpx;
    font-weight: 400;
    font-stretch: normal;
    line-height: 36rpx;
    letter-spacing: 0rpx;
    color: #c8aa82;
}

.investment .advantage.data-v-0e1caa22 {
    overflow: hidden;
}

.investment .advantage .introductionCard .introduction.data-v-0e1caa22 {
    position: relative;
    float: left;
    margin: 16rpx;
    text-align: center;
    padding: 40rpx 20rpx 20rpx;
    width: 298rpx;
    height: 500rpx;
    background-color: #fff;
    box-shadow: 11rpx 11rpx 13rpx 0rpx rgba(93,93,93,.15);
    border: 1rpx solid #d4d2cf;
}

.investment .advantage .introductionCard .introduction .picBox.data-v-0e1caa22 {
    width: 66rpx;
    height: 80rpx;
    margin: 20rpx auto;
    background-repeat: no-repeat;
    background-size: 100%;
}

.investment .advantage .introductionCard .introduction .picBox .iconPic.data-v-0e1caa22 {
    width: 100%;
}

.investment .advantage .introductionCard .introduction .littleTitle.data-v-0e1caa22 {
    text-align: center;
    padding: 30rpx 0;
    font-family: SourceHanSansCN-Bold;
    font-size: 30rpx;
    font-weight: 700;
    font-stretch: normal;
    letter-spacing: 2rpx;
    color: #bc9d74;
}

.investment .advantage .introductionCard .introduction .detail.data-v-0e1caa22 {
    font-family: SourceHanSansCN-Normal;
    font-size: 24rpx;
    font-weight: 400;
    font-stretch: normal;
    line-height: 28rpx;
    letter-spacing: 1rpx;
    color: #333;
    min-height: 140rpx;
    padding: 20rpx;
}

.investment .advantage .introductionCard .introduction .littleIcon.data-v-0e1caa22 {
    margin: 0 auto;
    display: block;
    width: 27rpx;
    height: 4rpx;
    background-color: #bc9350;
    position: absolute;
    bottom: 30rpx;
    left: 50%;
    transform: translate(-50%);
}

.investment .support.data-v-0e1caa22 {
    overflow: hidden;
    padding: 0 20rpx;
    background-size: cover;
}

.investment .support .supportCard.data-v-0e1caa22 {
    display: flex;
    justify-content: center;
    border: 2rpx solid #bc9d74;
    margin-bottom: 20rpx;
}

.investment .support .supportCard .number.data-v-0e1caa22 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110rpx;
    padding-left: 10rpx;
}

.investment .support .supportCard .number image,
.investment .support .supportCard .number img {
    width: 39rpx;
    height: 27rpx;
    padding-right: 20rpx;
}

.investment .support .supportCard .number .line.data-v-0e1caa22 {
    display: block;
    width: 2rpx;
    height: 16rpx;
    background-color: #bc9d74;
    opacity: .4;
}

.investment .support .supportCard .detail.data-v-0e1caa22 {
    padding: 27rpx 40rpx 27rpx 20rpx;
    flex: 1;
}

.investment .support .supportCard .detail .littleTitle.data-v-0e1caa22 {
    font-family: SourceHanSansCN-Bold;
    font-size: 26rpx;
    font-weight: 700;
    font-stretch: normal;
    line-height: 52rpx;
    letter-spacing: 0rpx;
    color: #646464;
}

.investment .support .supportCard .detail .content.data-v-0e1caa22 {
    font-family: SourceHanSansCN-Normal;
    font-size: 23rpx;
    font-weight: 400;
    font-stretch: normal;
    line-height: 26rpx;
    letter-spacing: 0rpx;
    color: #999;
}

.investment .condition.data-v-0e1caa22 {
    padding: 20rpx;
}

.investment .condition .conditionBox.data-v-0e1caa22 {
    padding: 20rpx;
    background-color: #f4f4f4;
    box-shadow: 11rpx 11rpx 13rpx 0rpx rgba(93,93,93,.35);
    border: 1rpx solid #bc9350;
}

.investment .condition .conditionBox .detail.data-v-0e1caa22 {
    padding: 16rpx 0;
    border-bottom: 1rpx solid #bc9350;
}

.investment .condition .conditionBox .detail .littleTitle.data-v-0e1caa22 {
    padding-left: 20rpx;
    border-left: 2rpx solid #bc9350;
    font-size: 26rpx;
    font-weight: 700;
    font-stretch: normal;
    letter-spacing: 0;
    color: #646464;
}

.investment .condition .conditionBox .detail .content.data-v-0e1caa22 {
    padding-left: 20rpx;
    font-family: SourceHanSansCN-Normal;
    font-size: 23rpx;
    font-weight: 400;
    font-stretch: normal;
    line-height: 60rpx;
    letter-spacing: 0rpx;
    color: #939393;
}

.investment .process.data-v-0e1caa22 {
    overflow: hidden;
}

.investment .process .processBox.data-v-0e1caa22 {
    float: left;
}

.investment .process .processBox .detail.data-v-0e1caa22 {
    width: 33.3%;
    float: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 36rpx;
}

.investment .process .processBox .detail .numberIcon.data-v-0e1caa22 {
    width: 38rpx;
    height: 27rpx;
    padding: 20rpx;
}

.investment .process .processBox .detail .processIcon.data-v-0e1caa22 {
    width: 11rpx;
    height: 69rpx;
}

.investment .process .processBox .detail .circle.data-v-0e1caa22 {
    width: 166rpx;
    height: 166rpx;
    background-color: #c7a982;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.investment .process .processBox .detail .circle .littleCircle.data-v-0e1caa22 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 148rpx;
    height: 148rpx;
    border: 2rpx solid #f3f3f3;
}

.investment .process .processBox .detail .circle .littleCircle .content.data-v-0e1caa22 {
    font-size: 32rpx;
    font-weight: 400;
    font-stretch: normal;
    line-height: 36rpx;
    letter-spacing: 0rpx;
    color: #fff;
    width: 69rpx;
    height: 70rpx;
}

.investment .apply.data-v-0e1caa22 {
    width: 750rpx;
    height: 509rpx;
    background-color: #f2f2f2;
}

.investment .apply .title_zh_CN.data-v-0e1caa22 {
    font-size: 36rpx;
    font-weight: 700;
    font-stretch: normal;
    line-height: 60rpx;
    letter-spacing: 0rpx;
    color: #c1a37a;
}

.investment .apply .applyFrom.data-v-0e1caa22 {
    padding: 0 20rpx;
}

.investment .apply .applyFrom .searchbox.data-v-0e1caa22 {
    display: flex;
    align-items: center;
    height: 68rpx;
    background-color: #fff;
    border: 1rpx solid #ddcdb2;
    margin-bottom: 20rpx;
}

.investment .apply .applyFrom .searchbox .searchText.data-v-0e1caa22 {
    padding: 0 50rpx;
    font-family: SourceHanSansCN-Normal;
    font-size: 24rpx;
    font-weight: 400;
    font-stretch: normal;
    letter-spacing: 0rpx;
    color: #737373;
    border-right: 1px solid #ccc;
}

.investment .apply .applyFrom .searchbox .searchInput.data-v-0e1caa22 {
    padding-left: 20rpx;
    flex: 1;
    font-size: 24rpx;
    letter-spacing: 0rpx;
}

.investment .apply .saveBtn.data-v-0e1caa22 {
    display: flex;
    justify-content: center;
}

.investment .apply .saveBtn .saveBottom.data-v-0e1caa22 {
    width: 230rpx;
    height: 61rpx;
    background-image: linear-gradient(0deg,#ba9b72,#e6c69c);
    box-shadow: 0rpx 9rpx 13rpx 0rpx rgba(93,93,93,.33);
    border-radius: 31rpx;
    font-family: SourceHanSansCN-Bold;
    font-size: 26rpx;
    font-weight: 400;
    font-stretch: normal;
    line-height: 61rpx;
    letter-spacing: 0;
    color: #fff;
}

.active.data-v-0e1caa22 {
    background-color: #c8aa82!important;
    border: 2px solid #c8aa82!important;
}